.pimcore_ai_tools_icon_ai_wysiwyg {
    background: url('../../img/pimcore/ai_wysiwyg.svg') center center no-repeat !important;
}

.pimcore_ai_tools_icon_ai_wysiwyg_grey {
    background: url('../../img/pimcore/ai_wysiwyg_grey.svg') center center no-repeat !important;
}

.pimcore_ai_tools_icon_ai_wysiwyg_white {
    background: url('../../img/pimcore/ai_wysiwyg_white.svg') center center no-repeat !important;
}

.pimcore_ai_tools_nav_icon {
    background: url('../../img/pimcore/pimcore_ai_nav.svg') center center no-repeat !important;
}
